body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

.complaint-card {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 80vw;
  border: 2px solid red;
}

textarea {
  width: 30vw;
  height: 30vh;
  background: yellow;
  border: 5px solid blue;
}

#other-container {
  display: none;
  margin-top: 10px;
}
