body {
  background: #a9bbcf;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 24px;
  font-family: sans-serif;
}

button {
  background-color: #5f90d8;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  border: none;

  width: 70px;
  height: 10%;

  transition:
    transform 0.4s ease,
    background-color 0.4s ease,
    box-shadow 0.28s ease;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

button:hover {
  transform: scale(1.05);
  background-color: #80a9dd;
  box-shadow: 0 10px 24px rgba(79, 128, 199, 0.18);
}

h1 {
  text-align: center;
  margin: 0 0 16px 0;
  font-weight: 700;
}

.table-container {
  width: 90%;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1px solid red;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
}

th {
  background: #1f2937;
  color: white;
  text-align: left;
  padding: 14px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

td {
  padding: 14px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}

tr:hover {
  background: #eef2ff;
  transition: 0.2s ease;
}

th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}

th {
  position: sticky;
  top: 0;
}

td,
th {
  padding-left: 18px;
  padding-right: 18px;
}

.back-button {
  width: fit-content;
  height: auto;
  padding: 8px 16px;
  top: 10px;
  left: 10px;
  position: absolute;
}
