body {
  background: #a9bbcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}
.portal-card {
  background-color: rgba(255, 255, 255, 0.18);

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 8px 24px rgb(0, 0, 0, 0.26);
  height: 70vh;
  width: 50vw;
  min-width: fit-content;
  min-height: 400px;
  border-radius: 20px;
}

button {
  background-color: #5f90d8;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  border: none;

  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 75px;

  transition:
    transform 0.4s ease,
    background-color 0.4s ease,
    box-shadow 0.28s ease;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  flex: 1;
}

h1 {
  text-align: center;
  margin: 0.67em 0.67em 0 0.67em;
}

button:hover {
  transform: scale(1.05);
  background-color: #83abdf;
  box-shadow: 0 10px 24px rgba(79, 128, 199, 0.18);
}
